header {
  height: 60px;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  
}

header h1 {
  font-size: 24px;
  margin: 0 10px;
  flex-grow: 1;
  
}

nav {
  display: inline-block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 50;
  display: flex;
}

nav li {
  width: 150px;
  text-align: center;
  line-height: 40px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  
}

nav li:hover {
  background-color: #333;
  transition: ease-out 3s;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

p {
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
}
.aside {
  background-color: #928d8d;
  margin-top: 20px;
  height: 120px;
  width: 30%;
  margin-right: 20px;
  border-radius: 10px;
  
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fff;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}



.container {
  display: flex;
}

.article {
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
}

.article h2 {
  text-transform: uppercase;
}

.article img {
  width: 30%;
  float: left;
}

.article .excerpt {
  float: right;
  width: 35%;
  text-align: justify;
  margin-left: 20px;
}

.article .read-more {
  text-align: right;
}

.article .read-more a {
  color: rgb(21, 70, 204);
  text-decoration: none;
}

.article .read-more a:hover {
  text-decoration: none;
}

.menu {
  width: 30%;
  padding: 10px;
  margin-top: 20px;
  
  border-radius: 5px;
}

.menu ul {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 1%;
  
}

.menu li {
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

.menu li a {
  color: #f8f4f4;
  text-decoration: none;
  
}

.menu li a:hover {
  color: #4d4848;
}

.footer.right {
  margin-right: 10px;
  
}

.footer-left {
  float: left;
}



footer {
  background-color: #141414;
  color: #fff;
  padding: 10px;
  text-align: right;
  margin-top: 600px;
  text-shadow: 5px;
  flex-shrink: 0;
  box-shadow: 5px;
}


