header {
  height: 60px;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;

}

img {
  width: 500px;
  height: 300px;
  margin-left: 20px;
}



nav {
  display: inline-block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 50;
  display: flex;
}

nav li {
  width: 150px;
  text-align: center;
  line-height: 40px;
  background-color: #000;
  color: #fff;
  cursor: pointer;

}

nav li:hover {
  background-color: #333;
  transition: ease-out 3s;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

p {
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 20px;
}

.aside {
  background-color: #928d8d;
  height: 200px;
  margin-right: 20px;
  border-radius: 10px;
  margin-top: 20px;

}

#aside {

  transition: ease-out 2s red;
}

.aside>ul {
  height: 80px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fff;
}

.excerpt {
  padding: 10px;
  width: 50%;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}


.container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.article {
  padding: 10px;
  box-sizing: border-box;
}

.article h2 {
  text-transform: uppercase;
}

.article .read-more {
  text-align: right;
}

.article .read-more a {
  color: rgb(21, 70, 204);
  text-decoration: none;
}

.article .read-more a:hover {
  text-decoration: none;
}

.menu {
  width: 30%;
  padding: 10px;
  margin-top: 20px;

  border-radius: 5px;
}

.menu ul {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 1%;

}

.menu li {
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

.menu li a {
  color: #f8f4f4;
  text-decoration: none;

}

.menu li a:hover {
  color: #4d4848;
}

.footer.right {
  margin-right: 10px;

}

.footer-left {
  float: left;

}


.animation-rainbow {
  width: 10px;
  height: 10px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
  margin-left: 80%;
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 200px;
  }

}

footer {
  background-color: #141414;
  color: #fff;
  padding: 10px;
  text-align: right;
  width: 100%;
  flex-shrink: 0;
  text-shadow: 5px;
  box-shadow: -1px 0 10px #555;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  
}

.container  {
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {

  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 2;
  }
}

header h1 {
  font-size: 24px;
  margin: 0 10px;
  flex-grow: 1;

}

.footer{
  -webkit-animation: fadein 2s;
}


